<div class="nav">
    <img src="./Logo (1).jpg" alt="imagen">
    <h2>Excel 1</h2>
    <p>Hola, Kevin Javier</p>
</div>

<div id="wrapper">
    <div class="content1" id="first">
        <div>
            <img src="" alt="img">
            <p>Excel 1</p>
        </div>
    </div>
    <div class="content" id="second">
        <div>
            <img src="" alt="img">
            <p>Excel 1</p>
        </div>
    </div>
    <div class="content3" id="third">
        <div>
            <img src="" alt="img">
            <p>Excel 1</p>
        </div>
    </div>
    <div class="content" id="fourth">
        <div>
            <img src="" alt="img">
            <p>Excel 1</p>
        </div>
    </div>
</div>
